html,
 body {
   min-height: 100%;
 }

#__next {
  height: 100%;
}

.ArrowEmptyData svg{
  transform: rotate(105deg) scaleY(-1);
}

.card-map {
  height: 100%;
  width: 100%;
}

.widget-map-container {
  max-height: calc(100vh - 170px);
  /*min-height: 500px;*/
}